<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="engrave_pageheader.htm"}
<div class="main-div">
<form method="post" action="engrave_user_group_manage.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.UserGroupName}</td>
    <td><input type="text" name="UserGroupName" maxlength="60" value="{$group.UserGroupName}" />{$lang.require_usergroupname}</td>
  </tr>
  <tr>
    <td class="label">{$lang.UserGroupDescription}</td>
    <td><textarea name="UserGroupDescription" cols="40" rows="5">{$group.UserGroupDescription|escape}</textarea></td>
  </tr>
  <tr>
    <td class="label">{$lang.UserGroupColor}</td>
    <td><input type="text" name="UserGroupColor" style="width:60px" maxlength="20" value="{$group.UserGroupColor}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.UserGroupPric}</td>
    <td><input type="text" name="UserGroupPric" maxlength="60" value="{$group.UserGroupPric}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.LowCredit}</td>
    <td><input type="text" name="LowCredit" style="width:60px" maxlength="20" value="{$group.LowCredit}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.LowGolden}</td>
    <td><input type="text" name="LowGolden" style="width:60px" maxlength="20" value="{$group.LowGolden}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.Recive}</td>
    <td><input type="checkbox" name="Email" value="1" {if $group.email}checked="checked"{/if} />{$lang.email} <input type="checkbox" name="Message" value="1" {if $group.message}checked="checked"{/if} />{$lang.message}</td>
  </tr>
  <tr>
    <td class="label">{$lang.Discount}</td>
    <td><input type="text" name="Discount" style="width:60px" maxlength="20" value="{$group.Discount}" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="old_UserName" value="{$prepaid.UserName}" />
      <input type="hidden" name="id" value="{$prepaid.Id}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['ClassName'].focus();
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("ClassName",  no_classname);
    return validator.passed();
}
//-->
</script>
{/literal}
{include file="engrave_pagefooter.htm"}