{include file="engrave_pageheader.htm"}
<h4>
	<span class='span-tip-header'>提醒：</span>
	<span class="span-tip">下单时会根据当前时间计算出对应的燃油附加费率. 没有填写时,会采用物流默认的的燃油附加费率
	</span>
</h4>
{insert_scripts files="../js/utils.js,listtable.js"}
<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
	<!-- start currecys list -->
	<div class="list-div" id="listDiv">
		<table cellpadding="3" cellspacing="1">
		  <tr>
		    <th>
		      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
		      <a href="javascript:listTable.sort('CId'); ">{$lang.record_id}</a>{$sort_CId}
		    </th>
		    <th> 快递名称</th>
		    <th> 年 </th>
		    <th> 月 </th>
				<th> 费率% </th>
				
		    <th>{$lang.handler}</th>
		  </tr>
		  {foreach from=$data_list  item=shipment}
		  <tr>
		    <td style="width:50px;" align="center">
		    	{$shipment.soid}
		    </td>
		    <td align="center">
		    	<span>{$shipment.shipment_name}</span>
		    </td>
		 
		    <td align="center">
		    	<span>{$shipment.year}</span>
				</td>
				<td align="center">
						<span>{$shipment.month}</span>
					</td>
				
				<td align="center">
		    	<span>{$shipment.discount}</span>
				</td>
				
	

				
		    <td align="center" style="width:150px; padding:0px; margin:0px">
						<a href="engrave_shipment_oilfee.php?act=edit&soid={$shipment.soid}" title="{$lang.edit}"><img src="images/icon_edit.gif" width="16" height="16" border="0" /></a>
		    </td>
		  </tr>
		  {foreachelse}
		  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
		  {/foreach}
		</table>	

		{include file="engrave_page.htm"}


	</div>
 </form>
 <script type="text/javascript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
</script>
{include file="engrave_pagefooter.htm"}