<!-- $Id: currecys_list.htm 17126 2010-04-23 10:30:26Z zhangxingpeng $ -->

{if $full_page}
{include file="engrave_pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
  <!-- start currecys list -->
<div class="list-div" id="listDiv">
{/if}
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
      <a href="javascript:listTable.sort('FocusId'); ">{$lang.record_id}</a>{$sort_FocusId}
    </th>
    <th><a href="javascript:listTable.sort('Title'); ">{$lang.Title}</a></th>
	<th><a>{$lang.ImgUrl}</a></th>
	<th><a href="javascript:listTable.sort('LinkUrl'); ">{$lang.LinkUrl}</a></th>
	<th><a href="javascript:listTable.sort('Systime'); ">{$lang.Systime}</a>{$sort_Systime}</th>
	<th><a href="javascript:listTable.sort('State'); ">{$lang.State}</a>{$sort_State}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$focuse_list item=focuse}
  <tr>
    <td style="width:50px;">
    	<input type="checkbox" name="checkboxes[]" value="{$focuse.FocusId}" />{$focuse.FocusId}
    </td>
    <td align="center">
    	{$focuse.Title}
    </td>
	<td align="center">
		<img src="{$focuse.ImgUrl}" width="32px" height="32px" /> 
	</td>
	<td align="center">
    	{$focuse.LinkUrl}
    </td>
    <td align="center">
    	{$focuse.Systime}
    </td>
	<td align="center">
		<img src="images/{if $focuse.State}yes{else}no{/if}.gif"  /><!-- onclick="listTable.toggle(this, 'toggle_State', {$focuse.State})" -->
	</td>
    <td align="center" style="width:150px; padding:0px; margin:0px">
      <a href="engrave_focus_map_manage.php?act=edit&amp;id={$focuse.FocusId}" title="{$lang.edit}"><img src="images/icon_edit.gif" width="16" height="16" border="0" /></a>
      <a href="javascript:;" onclick="listTable.remove({$focuse.FocusId},'{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
</table>
<!-- end currecys list -->

<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>

</form>

<script type="text/javascript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    startCheckOrder(); 
    document.forms['listForm'].reset();
  }

{/literal}
</script>
{include file="engrave_pagefooter.htm"}
{/if}