<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{include file="engrave_pageheader.htm"}

<div class="main-div">

<form method="post" action="engrave_jisuanadd.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">

<table cellspacing="1" cellpadding="3" width="100%">

 
  <tr>

    <td class="label">物流名称</td>

    <td> <input type="text" name="fangshi" maxlength="60" size="28" value="{$fangshi}" /></td>

  </tr>

  
  <tr>

    <td class="label">费用公式(为数字)</td>

    <td> <input type="text" name="gongshi" maxlength="60" size="28" value="{$gongshi}" /></td>

  </tr>

  <tr>

    <td class="label">服务费</td>

    <td><input type="text" name="neirong" maxlength="60" value="{$neirong}"  /></td>

  </tr>
  <tr>

    <td class="label">对人民币汇率</td>

    <td><input type="text" name="huilv" maxlength="60" value="{$huilv}"  /></td>

  </tr>
   <tr>

    <td class="label">排序</td>

    <td> <input type="text" name="paixu" maxlength="60" size="28" value="{$paixu}" /></td>

  </tr>

  <tr>

    <td colspan="2" align="center"><br />

      <input type="submit" class="button" value="{$lang.button_submit}" />

      <input type="reset" class="button" value="{$lang.button_reset}" />

      <input type="hidden" name="act" value="{$form_action}" />

      <input type="hidden" name="old_ClassName" value="{$class.ClassName}" />

      <input type="hidden" name="ids" value="{$id}" />

    </td>

  </tr>

</table>

</form>

</div>

{insert_scripts files="../js/utils.js,validator.js"}

{literal}

<script language="JavaScript">

<!--

document.forms['theForm'].elements['ClassName'].focus();

onload = function()

{

    // 开始检查订单

    startCheckOrder();

}

/**

 * 检查表单输入的数据

 */

function validate()

{

    validator = new Validator("theForm");

    validator.required("ClassName",  no_classname);

    return validator.passed();

}

//-->

</script>

{/literal}

{include file="engrave_pagefooter.htm"}