{if $full_page}

{include file="pageheader.htm"}

{insert_scripts files="../js/utils.js,listtable.js"}
<div style="width:100%; text-align:right; font-weight:600; color: #FF0000;"><a href="engrave_addjisuan.php?act=add" style=" color: #FF0000;">添加方式</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div class="form-div">

  <input type="button" name="export" value="{$lang.export}" onclick="location.href='email_list.php?act=export';" class="button" />

</div>

<form method="post" action="email_list.php" name="listForm">

<div class="list-div" id="listDiv">

{/if}

<table cellspacing='1' cellpadding='3'>

<tr>

<th width="5%"><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"><a href="javascript:listTable.sort('id'); ">{$lang.id}</a>{$sort_id}</th>

<th>物流名称</th>

<th width="15%">费用计算公式</th>
<th width="15%">服务费</th>
<th width="15%">排序</th>
<th width="15%">操作</th>
</tr>

{foreach from=$emaildb item=val}

<tr>

  <td><input name="checkboxes[]" type="checkbox" value="{$val.id}" />{$val.id}</td>

  <td>{$val.fangshi}</td>

  <td align="center">{$val.gongshi}</td>
 <td align="center">{$val.neirong}</td>
  <td align="center">{$val.paixu}</td>
    <td align="center"><a href="engrave_addjisuan.php?act=update&id={$val.id}">修改</a></td>
</tr>

{foreachelse}

    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>

{/foreach}

</table>

<table id="page-table" cellspacing="0">

  <tr>

    <td>

    
    </td>

    <td align="right" nowrap="true">

    {include file="page.htm"}

    </td>

  </tr>

</table>

{if $full_page}

</div>

</form>

<script type="Text/Javascript" language="JavaScript">

listTable.recordCount = {$record_count};

listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}

listTable.filter.{$key} = '{$item}';

{/foreach}

<!--

onload = function()

{

  // 开始检查订单

  startCheckOrder();

}

//-->

</script>

{include file="pagefooter.htm"}

{/if}