body{
	font: 12px Arial,Verdana,simsun,ו;
	background-color: #FFFFFF;
}
.mainDiv {
	border: 1px none #FFFFFF;
	width: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.head {
	height: 28px;
	line-height: 29px;
	overflow: hidden;
	margin-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #FFFFFF;
}

.req {
	font-style: normal;
	color: #FFFFFF;
}

ul,li {
	list-style: none;
	display: block;
}
.bt{
	line-height: 24px;
	text-align: right;
	width:15%;
	float: left;
}
.con{
	width:78%;
	padding-left: 1%;
	float: left;
}
.txt{
	width: 80%;
	font: 14px/26px arial;
	color: #F60;
	height: 26px;
	padding: 0 6px;
	overflow: hidden;
	outline: 0;
	border: 1px solid #CDCDCD;
}
.formDiv li{
	width: 100%;
	line-height: 20px;
	padding: 4px 0 0;
	margin-bottom: 2px;
	overflow: hidden;
}
.formDiv li label{
	display: block;
	float: left;
	height: 18px;
	line-height: 18px;
	margin: 0 20px 0 6px;
	cursor: pointer;
}
.formDiv li input.rad{
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	color: #FFFFFF;
	padding: 1px 1px 0 0;
	cursor: pointer;
}
.sel{
	width: 30%;
	line-height: 22px;
	font-size: 12px;
	margin-right: 6.9px;
	padding: 3px;
	border: 1px solid #CDCDCD;
}
textarea{
	height: 40px;
	font-size: 12px;
	color: #FFFFFF;
	padding: 6px;
	border: 1px solid #CDCDCD;
	border: 1px solid #CDCDCD;
	width: 90%;
}
.detailTable{
	border: 1px solid #FFFFFF;
	width:80%;
	height:60%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.detailTable td.td1{
	text-align:right;
	background-color:#F7F7F7;
}
.detailTable td.td2{
	color:#bd0a01;
}
.divCenter{
	margin-left: auto;
	margin-right: auto;
}
