@charset "utf-8";
/* CSS Document */

/********************************************************index.html********************************************************/
/******************************banner******************************/
#banner{
	width:100%;
	height:615px;
}
.slideshow {
	clear: both;
}
.slideshow li {
	position: relative;
	overflow: hidden;
}
.slideshow span.title {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	text-indent: 10px;
}
.slideshow span.title .title_txt{
	margin-left:10%;
}
.slideshow span.title, .slidebar li {
	background: rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #30000000, endColorstr = #30000000);
	color: #FFF;
	overflow: hidden;
}
.slidebar li {
	float: left;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
}
.frame {
	background: none;
	border: 0px solid #fff;
	margin-bottom: 0px;
}
.temp {
	margin: 0;
}
.slidebar {
	position: absolute;
	bottom:20px;
	right: 10%;
}
.slideshow span.title, .slidebar li {
	background: rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #90000000, endColorstr = #90000000);
	color: #FFF;
	overflow: hidden;
}
.slidebar li.on {
	background: rgba(255, 255, 255, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #90000000, endColorstr = #90000000);
	color: #ff0;
	font-weight: 700;
}
.block {
	margin: 0;
	position: relative;
}
#frameHlicAe {
	margin: 0px !important;
	border: 0px !important;
}
.comiis_wrapad {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
.comiis_wrapad img {
	float: left;
	margin-top: 0px;
}
#slidesImgs li {
	width: 100%;
	height:615px;
	display: none;
}
#slidesImgs li a{
	display:block;
	height:615px;
}

/******************************cxyf******************************/
#cxyf_bg{
	width:100%;
	height:auto;
	background:#efefef;
	padding:40px 0;
}
#cxyf{
	width:1134px;
	margin:0 auto;
}
#cxyf_feiji{
	float:left;
	padding-top:10px;
}
#cxyf_title{
	float:left;
	font-size:16px;
	color:#595959;
	line-height:36px;
	margin-left:20px;
}
#cxyf_guoji{
	float:left;
	margin-left:10px;
}
.cxyf_select{
	width:270px;
	height:34px;
	background:#fff;
	border:1px solid #cecece;
	font-size:16px;
	color:#595959;
	font-family:"微软雅黑";
}
#cxyf_zhongliang{
	float:left;
	margin-left:17px;
}
#cxyf_zhongliang_left{
	float:left;
	width:59px;
	height:34px;
	line-height:34px;
	text-align:center;
	background:#fff;
	border:1px solid #cecece;
	border-right:none;
	font-size:16px;
	color:#595959;
}
#cxyf_zhongliang_right{
	float:left;
}
.cxyf_text{
	width:200px;
	height:34px;
	background:#fff;
	border:1px solid #cecece;
	font-size:16px;
	color:#595959;
	font-family:"微软雅黑";
	padding:0 5px;
}
#cxyf_chicun{
	float:left;
	margin-left:17px;
}
#cxyf_anniu{
	float:left;
	margin-left:17px;
}
#cxyf_anniu a{
	display:block;
	width:125px;
	height:36px;
	background:#df0023;
	color:#fff;
}
#cxyf_anniu a #cxyf_anniu_left{
	float:left;
	padding:8px 0 0 15px;
}
#cxyf_anniu a #cxyf_anniu_right{
	float:left;
	font-size:16px;
	line-height:36px;
	padding-left:8px;
}
#cxyf_anniu a:hover{
	background:#bf0e2a;
}

/******************************kfxwtz******************************/
#kfxwtz{
	width:1134px;
	margin:0 auto;
	padding:40px 0;
}

/***********kfxwtz_zxkf***********/
#kfxwtz_zxkf{
	width:315px;
	float:left;
}
.kfxwtz_zxkf_title{
	border-bottom:1px solid #dedede;
	padding-bottom:6px;
}
.kfxwtz_zxkf_title_txt{
	font-size:18px;
	color:#595959;
	float:left;
}
.kfxwtz_zxkf_title_img{
	float:left;
	padding:10px 0 0 10px;
}
#kfxwtz_zxkf_neirong{
	margin-top:15px;
}
.kfxwtz_zxkf_neirong_dan{
	margin-top:10px;
}
.kfxwtz_zxkf_neirong_dan_01{
	font-size:14px;
	color:#595959;
	float:left;
	padding-right:20px;
}
.kfxwtz_zxkf_neirong_dan_02{
	float:left;
	width:77px;
	height:25px;
	line-height:28px;
	/*background:url(../../images/rbhm/kfxwtz_02.png) no-repeat;*/
	margin-left:5px;
}
.kfxwtz_zxkf_neirong_dan_tui{
	padding-left:28px;
}
.kfxwtz_zxkf_neirong_dan_02 a{
	color:#1a649d;
}
.kfxwtz_zxkf_neirong_dan_02 a:hover{
	color:#e00024;
}
.kfxwtz_zxkf_neirong_dan_03{
	float:left;
	margin-left:5px;
}
.kfxwtz_zxkf_neirong_dan_03{
	float:left;
	margin-left:5px;
}
.kfxwtz_zxkf_neirong_dan_04{
	float:left;
	margin-left:12px;
}

/***********kfxwtz_lint***********/
.kfxwtz_lint{
	width:1px;
	float:left;
	margin:50px 46px 0 46px;
}

/***********kfxwtz_gsxw***********/
#kfxwtz_gsxw{
	width:315px;
	float:left;
}
.kfxwtz_gsxw_neirong{
	font-size:14px;
	margin-top:15px;
}
.kfxwtz_gsxw_neirong li{
	margin-top:7px;
}
.kfxwtz_gsxw_neirong li a{
	color:#595959;
}
.kfxwtz_gsxw_neirong li a:hover{
	color:#e00024;
}

/***********kfxwtz_zytz***********/
#kfxwtz_zytz{
	width:315px;
	float:left;
}

/******************************hmzyldys******************************/
#hmzyldys_bg{
	width:100%;
	height:513px;
	background:url(../../images/rbhm/hmzyldys_01.jpg) repeat-x;
}
#hmzyldys{
	width:1134px;
	margin:0 auto;
}
#hmzyldys_title{
	text-align:center;
	padding-top:30px;
}
#hmzyldys_ywlh{
	text-align:center;
	padding-top:20px;
}
#hmzyldys_neirong{
	width:960px;
	margin:15px auto 0 auto;
}
#hmzyldys_neirong li{
	width:310px;
	float:left;
	margin:5px 5px 0 5px;
}
#hmzyldys_neirong li .hmzyldys_neirong_dan{
	width:310px;
	height:150px;
	background:url(../../images/rbhm/hmzyldys_04.jpg) no-repeat;
}
#hmzyldys_neirong li .hmzyldys_neirong_dan_title{
	padding:30px 0 0 15px;
}
#hmzyldys_neirong li .hmzyldys_neirong_dan_title_left{
	float:left;
}
#hmzyldys_neirong li .hmzyldys_neirong_dan_title_right{
	float:left;
	margin-left:5px;
	font-size:16px;
	color:#bb0000;
	line-height:24px;
}
#hmzyldys_neirong li .hmzyldys_neirong_dan_txt{
	width:252px;
	margin:5px 0 0 45px;
	color:#737272;
	line-height:20px;
}

/******************************jcsptj******************************/
#jcsptj{
	width:1134px;
	margin:0 auto;
	padding:40px 0;
}

/***********jcsptj_left***********/
#jcsptj_left{
	width:415px;
	float:left;
}
.jcsptj_title_left{
	float:left;
}
.jcsptj_title_right{
	float:left;
	margin-left:10px;
}
.jcsptj_title_right_txt{
	font-size:30px;
	color:#000;
}
#jcsptj_left_line{
	width:360px;
	height:1px;
	background:#ccc;
	margin-top:7px;
}
#jcsptj_left_neirong{
	margin-top:10px;
}
#jcsptj_left_neirong li{
	border-bottom:1px solid #ededed;
	font-size:14px;
	padding:10px 0;
}
#jcsptj_left_neirong li a{
	color:#666;
}
#jcsptj_left_neirong li a:hover{
	color:#e00024;
}

/***********jcsptj_right***********/
#jcsptj_right{
	width:570px;
	float:right;
}
#jcsptj_right_line{
	width:515px;
	height:1px;
	background:#ccc;
	margin-top:7px;
}
#jcsptj_right_neirong li{
	float:left;
	width:170px;
	height:170px;
	text-align:center;
	margin:30px 10px 0 10px;
}

/******************************jhzylc******************************/
#jhzylc_bg{
	width:100%;
	height:auto;
	background:#efefef;
	padding:40px 0;
}
#jhzylc{
	width:1134px;
	margin:0 auto;
}
#jhzylc_title{
	font-size:30px;
	text-align:center;
}
#jhzylc_txt{
	text-align:center;
	color:#535353;
	line-height:20px;
	margin-top:15px;
}
#jhzylc_neirong{
	width:960px;
	margin:40px auto 0 auto;
}
#jhzylc_neirong_left{
	width:230px;
	float:left;
}
.jhzylc_neirong_dan{
	text-align:center;
}
.jhzylc_neirong_dan_txt{
	color:#535353;
	line-height:20px;
	margin-top:15px;
}
#jhzylc_neirong_mid{
	width:230px;
	float:left;
	margin-left:135px;
}
#jhzylc_neirong_right{
	width:230px;
	float:right;
}

/******************************rtsd******************************/
.rtsd{
	width:1134px;
	margin:0 auto;
	padding:40px 0;
}
.rtsd .rtsd_title_left{
	float:left;
}
.rtsd .rtsd_title_right{
	float:left;
	font-size:30px;
	color:#595959;
	margin-left:10px;
}
.rtsd .rtsd_neirong ul{
	margin-left:-69px;
	*position:relative;
	*zoom:1;
}
.rtsd .rtsd_neirong li{
	float:left;
	width:332px;
	margin:40px 0 0 69px;
}

/******************************rbsjtj******************************/
#rbsjtj_bg{
	width:100%;
	height:auto;
	background:#efefef;
	padding:40px 0;
}
#rbsjtj{
	width:1180px;
	margin:0 auto;
}
#rbsjtj_title_left{
	float:left;
	font-size:30px;
	color:#101010;
}
#rbsjtj_title_right{
	float:right;
}
#rbsjtj_title_right .LeftBotton, #rbsjtj_title_right .RightBotton {
	width:40px;
	height:40px;
	float:left;
	background:url(../../images/rbhm/rbsjtj_01.jpg) no-repeat;
}
#rbsjtj_title_right .LeftBotton {
	background-position: 0 0;
}
#rbsjtj_title_right .RightBotton {
	background-position: -41px -41px;
}
#rbsjtj_title_right .LeftBotton:hover {
	background-position:0 -41px;
}
#rbsjtj_title_right .RightBotton:hover {
	background-position: -41px 0;
}
.rbsjtj_neirong {
	overflow:hidden;
	zoom:1;
	width:1180px;
}
.rbsjtj_neirong .pcont {
	width:1180px;
	float:left;
	overflow:hidden;
}
.rbsjtj_neirong .ScrCont {
	width:32766px;
	zoom:1;
}
.rbsjtj_neirong #List1_1, .rbsjtj_neirong #List2_1 {
	float:left;
}
.rbsjtj_neirong .pl {
	display:block;
	width:277px;
}
.rbsjtj_neirong .pl img {
	display:block;
	cursor:pointer;
	border:none;
}
.rbsjtj_neirong_dan ul{
	margin-left:-24px;
}
.rbsjtj_neirong_dan li{
	float:left;
	margin:24px 0 0 24px;
}

/********************************************************FAQ.html********************************************************/
#header_line{
	width:100%;
	height:1px;
	background:#ccc;
}
/******************************huicontent******************************/
#huicontent_bg{
	width:100%;
	height:auto;
	background:#f4f4f4;
}
#huicontent{
	width:1180px;
	margin:0 auto;
}

/******************************xzdwz******************************/
#xzdwz{
	font-size:14px;
	color:#7e7e7e;
	padding:15px 0;
}
#xzdwz a{
	color:#7e7e7e;
}
#xzdwz a:hover{
	color:#e00024;
}

/******************************hbjzdh******************************/
#hbjzdh{
	width:280px;
	float:left;
	border-bottom:1px solid #d6d6d6;
	border-top:1px solid #d6d6d6;
	background:#fff;
}
#hbjzdh li{
	font-size:16px;
}
#hbjzdh_cbt, .news_left_title{
	width:278px;
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	height:50px;
	line-height:50px;
	font-size:24px;
	color:#df0023;
	font-weight:bold;
	text-align:center;
}
.hbjzdh_flbt{
	width:280px;
	height:50px;
}
.hbjzdh_flbt a{
	display:block;
	width:280px;
	height:50px;
	background:url(../../images/rbhm/hbjzdh_03.jpg) no-repeat;
	color:#7e7e7e;
}
.hbjzdh_flbt a:hover{
	background:url(../../images/rbhm/hbjzdh_01.jpg) no-repeat;
	color:#fff;
}
.hbjzdh_flbt a #hbjzdh_flbt_img01, .cat_before_img{
	width:20px;
	height:20px;
	float:left;
	background:url(../../images/rbhm/hbjzdh_04.png) no-repeat;
	margin:15px 0 0 20px;
}
.hbjzdh_flbt a:hover #hbjzdh_flbt_img01{
	background:url(../../images/rbhm/hbjzdh_05.png) no-repeat;
}
.hbjzdh_flbt a .hbjzdh_flbt_txt{
	width:230px;
	float:right;
	line-height:50px;
}
.hbjzdh_curr a{
	background:url(../../images/rbhm/hbjzdh_01.jpg) no-repeat;
	color:#fff;
}
.hbjzdh_curr a #hbjzdh_flbt_img01{
	background:url(../../images/rbhm/hbjzdh_05.png) no-repeat;
}
.hbjzdh_curr a #hbjzdh_flbt_img02{
	background:url(../../images/rbhm/hbjzdh_07.png) no-repeat;
}
.hbjzdh_xxbt{
	width:280px;
	height:50px;
}
.hbjzdh_xxbt a{
	display:block;
	width:280px;
	height:50px;
	line-height:50px;
	background:url(../../images/rbhm/hbjzdh_02.jpg) no-repeat;
	color:#7e7e7e;
}
.hbjzdh_xxbt a:hover{
	background:url(../../images/rbhm/hbjzdh_01.jpg) no-repeat;
	color:#fff;
}
.hbjzdh_xxbt a .hbjzdh_xxbt_txt{
	padding-left:50px;
}
.hbjzdh_flbt a #hbjzdh_flbt_img02{
	width:20px;
	height:20px;
	float:left;
	background:url(../../images/rbhm/hbjzdh_06.png) no-repeat;
	margin:15px 0 0 20px;
}
.hbjzdh_flbt a:hover #hbjzdh_flbt_img02{
	background:url(../../images/rbhm/hbjzdh_07.png) no-repeat;
}
#hbjzdh_kong{
	width:278px;
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	height:20px;
}

/******************************hbjynr******************************/
#hbjynr{
	width:885px;
	min-height:500px;
    _height:500px;
	float:right;
	border:1px solid #d6d6d6;
	background:#fff;
	padding:7px 0;
}
#hbjynr_img{
	width:870px;
	margin:0 auto;
}
#hbjynr_liebiao{
	width:820px;
	margin:15px auto 0 auto;
}
#hbjynr_liebiao li{
	font-size:14px;
	border-bottom:1px dashed #ccc;
	background:url(../../images/rbhm/hbjzdh_09.png) no-repeat left center;
	padding:12px 0 12px 25px;
}
#hbjynr_liebiao li a{
	color:#7e7e7e;
}
#hbjynr_liebiao li a:hover{
	color:#e00024;
}
#hbjynr_yeshu_bg{
	width:820px;
	margin:20px auto 0 auto;
	padding-bottom:50px;
}
#hbjynr_yeshu{
	float:right;
}
#hbjynr_yeshu li{
	float:left;
	margin-left:5px;
	font-size:14px;
}
#hbjynr_yeshu li.hbjynr_yeshu_jiantou{
	font-size:18px;
}
#hbjynr_yeshu li a{
	display:block;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	border:1px solid #969696;
	background:#fff;
	color:#969696;
}
#hbjynr_yeshu li a:hover{
	border:1px solid #969696;
	background:#969696;
	color:#fff;
}
#huicontent_kong{
	height:40px;
}

/********************************************************feiYongGuSuan.html********************************************************/
/******************************fygs_hdm******************************/
.fygs_hdm{
	width:850px;
	margin:10px auto 0 auto;
}
.tb_{
	border-bottom:1px solid #ddd;
}
.tb_ ul{
	height:38px;
}
.tb_ li{
	float:left;
	height: 38px;
	line-height:38px;
	padding:0 20px;
	font-size:14px;
	cursor:pointer;
	margin-left:1px;
}
.normaltab{
	background:#999;
	color:#fff;
}
.hovertab{
	background:#df0023;
	color:#fff;
}
.ctt{
	clear:both;
}
.dis{
	display:block;
}
.undis{
	display:none;
}
#ctt_fyjg{
	margin-top:15px;
}
.ctt_fyjg_table{
	width:850px;
}
.ctt_fyjg_table td{
	padding:5px 0;
}
.ctt_fyjg_table .ctt_fyjg_table_title{
	font-size:14px;
	color:#727171;
}
.ctt_fyjg_table .ctt_fyjg_table_button{
	height:34px;
	line-height:34px;
	width: 80px;
	font-size:14px;
	text-align:center;
	color:#fff;
	background:#df0023;
	border:none;
	cursor:pointer;
	margin-top: 5px;
}
.ctt_fyjg_table .ctt_fyjg_table_button:hover{
	background:#be0724;
}
.ctt_fyjg_table .ctt_fyjg_table_tip{
	font-size:14px;
	color:#727171;
	margin-right: 3px;
}
.ctt_fyjg_table .ctt_fyjg_table_select{
	width:270px;
	height:34px;
	background:#fff;
	border:1px solid #cecece;
	font-size:14px;
	color:#595959;
	font-family:"微软雅黑";
}
.ctt_fyjg_table .ctt_fyjg_right_tip{
	font-size:14px;
	color:#727171;
	margin: auto 3px auto 5px;
}
.ctt_fyjg_table .ctt_fyjg_table_input{
	width:120px;
	height:34px;
	background:#fff;
	border:1px solid #cecece;
	font-size:14px;
	color:#595959;
	font-family:"微软雅黑";
}
.ctt_fyjg_table .ctt_fyjg_table_table{
	width:700px;
	border-collapse:collapse;
}
.ctt_fyjg_table .ctt_fyjg_table_table td{
	padding:0;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#595959;
	border:1px solid #fff;
}
.ctt_fyjg_table .ctt_fyjg_table_table .ctt_fyjg_table_table_trbg01{
	background:#f3f3f3;
}
.ctt_fyjg_table .ctt_fyjg_table_table .ctt_fyjg_table_table_trbg02{
	background:#e0e0e0;
}
.ctt_fyjg_table .ctt_fyjg_table_table .ctt_fyjg_table_table_trbg03{
	background:#999;
}
.ctt_fyjg_table .ctt_fyjg_table_textarea{
	width:688px;
	height:150px;
	padding:5px;
	background:#fff;
	border:1px solid #cecece;
	font-size:14px;
	color:#595959;
	font-family:"微软雅黑";
}

/******************************fygs_gyyzfyjs******************************/
#fygs_gyyzfyjs{
	width:850px;
	margin:15px auto 0 auto;
}
#fygs_gyyzfyjs_title{
	border-bottom:1px solid #ddd;
}
#fygs_gyyzfyjs_title_txt{
	width:180px;
	height:38px;
	line-height:38px;
	text-align:center;
	font-size:18px;
	background:#df0023;
	color:#fff;
	margin-left:40px;
}
#fygs_gyyzfyjs_txt{
	margin-top:10px;
}
.fygs_gyyzfyjs_txt_dan{
	font-size:14px;
	line-height:24px;
	color:#4c4c4c;
	text-indent:2em;
}

/******************************fygs_kong******************************/
#fygs_kong{
	height:50px;
}

/********************************************************guanYuWoMen.html********************************************************/
/******************************gywmdnr******************************/
#gywmdnr{
	width:830px;
	margin:15px auto 0 auto;
}
#gywmdnr_redbt{
	font-size:24px;
	font-weight:bold;
	color:#df0023;
	line-height:38px;
}
#gywmdnr_huibt{
	font-size:22px;
	font-weight:bold;
	color:#7e7e7e;
	line-height:36px;
	margin:10px 0 0 45px;
}
#gywmdnr_sjwz{
	margin:10px 0 0 45px;
}
#gywmdnr_sjwz_left{
	float:left;
}
#gywmdnr_sjwz_right{
	width:740px;
	float:right;
}
#gywmdnr_sjwz_right_txt01{
	font-size:14px;
	color:#757575;
	line-height:30px;
}
#gywmdnr_sjwz_right_txt02{
	font-size:14px;
	color:#444;
	line-height:30px;
	margin-top:8px;
}
#gywmdnr_sjwz_right_jlrz{
	margin-top:15px;
}
#gywmdnr_sjwz_right_xjs{
	font-size:14px;
	color:#3e3e3e;
	line-height:30px;
	margin-top:12px;
	text-indent:2em;
}
#gywmdnr_sjwz_right_xxwz{
	font-size:14px;
	color:#3e3e3e;
	line-height:30px;
	margin-top:10px;
}
.gywmdnr_sjwz_right_xxwz_bt{
	font-size:18px;
	font-weight:bold;
}
#gywmdnr_sjwz_right_yqd{
	width:722px;
	height:421px;
	margin:30px 0 0 9px;
	background:url(../../images/rbhm/gywmdnr_03.png) no-repeat;
	color:#fff;
}
#gywmdnr_sjwz_right_yqd_left{
	width:225px;
	float:left;
	margin-left:60px;
}
#gywmdnr_sjwz_right_yqd_right{
	width:210px;
	float:right;
	margin-right:60px;
}
.gywmdnr_sjwz_right_yqd_title{
	font-size:48px;
	font-weight:bold;
	text-align:center;
	padding-top:60px;
}
.gywmdnr_sjwz_right_yqd_txt01{
	line-height:24px;
	margin-top:15px;
}
.gywmdnr_sjwz_right_yqd_txt02{
	font-size:24px;
	line-height:48px;
	margin-top:15px;
}

/********************************************************jinYunLieBiao.html********************************************************/
/******************************jylbgdjy******************************/
#jylbgdjy{
	width:740px;
	margin:20px auto 0 auto;
}
.jylbgdjy_title{
	color:#000;
	font-size:18px;
	font-weight:bold;
}
#jylbgdjy_neirong li{
	width:130px;
	height:200px;
	float:left;
	text-align:center;
	margin:25px 27px 0 27px;
}
#jylbgdjy_neirong li .jylbgdjy_neirong_dan_txt{
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
}
#jylbgdjy_neirong li .jylbgdjy_neirong_dan_txt a{
	color:#da3731;
}
#jylbgdjy_neirong li .jylbgdjy_neirong_dan_txt a:hover{
	color:#e00024;
}

/******************************jylbyjgz******************************/
#jylbyjgz{
	width:740px;
	margin:20px auto 0 auto;
}
#jylbyjgz_neirong li{
	width:345px;
	float:left;
	margin:30px 12px 0 12px;
}
#jylbyjgz_neirong li .jylbyjgz_neirong_dan_left{
	float:left;
}
#jylbyjgz_neirong li .jylbyjgz_neirong_dan_right{
	width:210px;
	float:right;
}
#jylbyjgz_neirong li .jylbyjgz_neirong_dan_right_title{
	font-size:20px;
	font-weight:bold;
	border-bottom:3px solid #dbdbdb;
	padding-bottom:7px;
	margin-top:10px;
}
#jylbyjgz_neirong li .jylbyjgz_neirong_dan_right_title a{
	color:#da3731;
}
#jylbyjgz_neirong li .jylbyjgz_neirong_dan_right_title a:hover{
	color:#e00024;
}
#jylbyjgz_neirong li .jylbyjgz_neirong_dan_right_txt{
	color:#666;
	line-height:24px;
	margin-top:8px;
	font-size:14px;
}

/******************************jylbhggz******************************/
#jylbhggz{
	width:740px;
	margin:20px auto 0 auto;
}

/******************************jylbhsx******************************/
#jylbhsx{
	width:850px;
	height:1px;
	margin:50px auto 0 auto;
	background:#eaeaea;
}

/******************************jylbtxt******************************/
#jylbtxt{
	width:850px;
	height:auto;
	margin:20px auto 0 auto;
}
.jylbtxt_dan{
	font-size:14px;
	color:#000;
	line-height:30px;
	text-indent:2em;
}

/******************************jylbimg******************************/
#jylbimg{
	width:850px;
	height:auto;
	margin:20px auto 0 auto;
}

/********************************************************shouFeiShuoMing.html********************************************************/
/******************************sfsmjtjs******************************/
#sfsmjtjs{
	width:848px;
	margin:15px auto 0 auto;
}
#sfsmjtjs_shang{
	background:#eaeaea;
	padding:15px 0 30px 0;
}
#sfsmjtjs_shang_txt{
	width:818px;
	margin:0 auto;
	font-size:14px;
	color:#757575;
	line-height:24px;
}
#sfsmjtjs_xia{
	text-align:center;
}

/******************************sfsmems******************************/
#sfsmems{
	width:765px;
	margin:15px auto 0 auto;
}
.sfsmems_title{
	font-size:24px;
	color:#757575;
	text-align:center;
}
#sfsmems_biaoge{
	margin-top:20px;
}
.sfsmems_table{
	width:765px;
}
.sfsmems_table td{
	height:34px;
	line-height:34px;
	text-align:center;
	font-size:14px;
}
.sfsmems_table .sfsmems_table_trbt td{
	height:44px;
	line-height:44px;
	background:#868686;
}
.sfsmems_table .sfsmems_table_title{
	font-size:16px;
	color:#fff;
	line-height:18px;
}
.sfsmems_table tr:hover{
	background:#fbe5e8;
}
.sfsmems_table .sfsmems_table_tdbg01{
	background:#e6e6e6;
}
.sfsmems_table .sfsmems_table_tdbg02{
	background:#fff;
}
#sfsmems_txt{
	text-align:center;
	margin-top:30px;
	font-size:14px;
}
#sfsmems_txt_02{
	margin-top:15px;
}

/******************************sfsmsqkys******************************/
#sfsmsqkys{
	width:765px;
	margin:25px auto 0 auto;
}
.sfsmsqkys_table{
	width:765px;
}
.sfsmsqkys_table td{
	height:34px;
	line-height:34px;
	text-align:center;
	font-size:14px;
}
.sfsmsqkys_table .sfsmsqkys_table_trbt td{
	background:#868686;
}
.sfsmsqkys_table .sfsmsqkys_table_txt{
	font-size:16px;
	color:#fff;
}
.sfsmsqkys_table tr:hover{
	background:#fbe5e8;
}
.sfsmsqkys_table .sfsmsqkys_table_tdbg01{
	background:#e6e6e6;
}
.sfsmsqkys_table .sfsmsqkys_table_tdbg02{
	background:#fff;
}
#sfsmsqkys_txt{
	margin-top:30px;
}
#sfsmsqkys_txt_left{
	float:left;
}
#sfsmsqkys_txt_right{
	float:left;
	margin-left:10px;
	font-size:18px;
	color:#757575;
}

/********************************************************zhuanYunLiuCheng.html********************************************************/
/******************************zylcjtnr******************************/
#zylcjtnr{
	width:706px;
	margin:20px auto 0 auto;
}
#zylcjtnr_zc{
	width:706px;
	height:275px;
	background:url(../../images/rbhm/zylcjtnr_01.jpg) no-repeat;
}
#zylcjtnr_zc_shang{
	padding-top:80px;
	margin-left:275px
}
.zylcjtnr_title{
	font-size:24px;
	color:#3f3f3f;
}
.zylcjtnr_txt{
	font-size:14px;
	color:#3f3f3f;
	margin-top:20px;
}
#zylcjtnr_zc_xia{
	margin:25px 0 0 275px;
}
#zylcjtnr_zc_xia a{
	display:block;
	width:160px;
	height:36px;
	line-height:36px;
	text-align:center;
	background:#df0023;
	font-size:18px;
	color:#fff;
}
#zylcjtnr_zc_xia a:hover{
	background:#be0724;
}
#zylcjtnr_gw{
	width:706px;
	height:325px;
	background:url(../../images/rbhm/zylcjtnr_02.jpg) no-repeat;
}
#zylcjtnr_gw_txt{
	margin-left:170px;
	padding-top:130px;
}
#zylcjtnr_rk{
	width:706px;
	height:323px;
	background:url(../../images/rbhm/zylcjtnr_03.jpg) no-repeat;
}
#zylcjtnr_rk_txt{
	margin-left:275px;
	padding-top:130px;
}
#zylcjtnr_dd{
	width:706px;
	height:335px;
	background:url(../../images/rbhm/zylcjtnr_04.jpg) no-repeat;
}
#zylcjtnr_dd_txt{
	margin-left:170px;
	padding-top:130px;
}
#zylcjtnr_tj{
	width:706px;
	height:313px;
	background:url(../../images/rbhm/zylcjtnr_05.jpg) no-repeat;
}
#zylcjtnr_tj_txt{
	margin-left:275px;
	padding-top:130px;
}
#zylcjtnr_sh{
	width:706px;
	height:276px;
	background:url(../../images/rbhm/zylcjtnr_06.jpg) no-repeat;
}
#zylcjtnr_sh_txt{
	margin-left:170px;
	padding-top:130px;
}

/********************************************************xinWenZhongXin.html********************************************************/
/******************************xwzxlb******************************/
#xwzxlb{
	width:840px;
	margin:0 auto 0 auto;
}
#xwzxlb li{
	border-bottom:1px dashed #eae7e2;
	padding:20px 0;
}
#xwzxlb li .xwzxlb_dan_left{
	width:60px;
	float:left;
}
#xwzxlb li .xwzxlb_dan_left_red01{
	width:60px;
	height:45px;
	line-height:45px;
	text-align:center;
	color:#fff;
	font-size:24px;
	font-weight:bold;
	background:#df0023;
}
#xwzxlb li .xwzxlb_dan_left_red02{
	width:60px;
	height:18px;
	line-height:18px;
	text-align:center;
	color:#fff;
	background:#df0023;
	margin-top:1px;
}
#xwzxlb li .xwzxlb_dan_right{
	width:760px;
	float:right;
}
#xwzxlb li .xwzxlb_dan_right_title{
	font-size:18px;
}
#xwzxlb li .xwzxlb_dan_right_title a{
	color:#434242;
}
#xwzxlb li .xwzxlb_dan_right_title a:hover{
	color:#e00024;
}
#xwzxlb li .xwzxlb_dan_right_txt{
	color:#6b6b6b;
	line-height:20px;
	margin-top:3px;
}
#xwzxlb li .xwzxlb_dan_left_hui01{
	width:60px;
	height:45px;
	line-height:45px;
	text-align:center;
	color:#000;
	font-size:24px;
	font-weight:bold;
	background:#eae7e2;
}
#xwzxlb li .xwzxlb_dan_left_hui02{
	width:60px;
	height:18px;
	line-height:18px;
	text-align:center;
	color:#000;
	background:#eae7e2;
	margin-top:1px;
}

/******************************xwzxyeshu******************************/
#xwzxyeshu{
	width:840px;
	margin:20px auto 0 auto;
}

/******************************xwzxwznr******************************/
#xwzxwznr{
	width:840px;
	margin:20px auto 0 auto;
}
#xwzxwznr .xwzxwznr_title{
	color:#000;
	text-align: center;
	font-size:23px;
	font-weight:bold;
}
#xwzxwznr .xwzxwznr_sub_txt{
	color:#6b6b6b;
	line-height:20px;
	margin:10px;
	text-align: center;
}
#xwzxwztxt{
	width:800px;
	height:auto;
	margin:20px auto 0 auto;
	font-size:14px;
	line-height:30px;
	color:#000;
}
#xwzxhsx{
	width:850px;
	height:1px;
	margin:10px auto 0 auto;
	background:#eaeaea;
}


















