
.user_mail img {

	padding-right:5px

}

.user_mail span a {

	color:#e06400

}

.account {

	background-color:#fff;

	border:1px solid #d2d2d2;

	margin-top:15px

}

.yu_e {

	margin:25px 0 0 25px

}

.w_80 {

	width:80px

}

.money {

	font-size:20px;

	padding-right:5px

}

.point {

	padding-top:25px

}

#footer {

	-moz-box-shadow:2px 2px 4px rgba(0,0,0,.1) inset;

	-webkit-box-shadow:2px 2px 4px rgba(0,0,0,.1) inset;

	background:#ededed;

	box-shadow:2px 2px 4px rgba(0,0,0,.1) inset;

	color:#a0a0a0;

	margin-top:20px;

	padding:25px 0;

	text-align:center;

	width:100%

}

.footer_ad li,.footer_ad li a,.footer_link li,.footer_link li a {

	display:inline-block

}

.footer_ad li a {

	background:#fff;

	border:1px #ddd solid;

	height:34px;

	margin:0 3px;

	padding:1px;

	width:104px

}

.footer_ad li a img{

	height:30px;

	border:0px;

}

.footer_link {

	margin:10px 0

}

.footer_link li+li:before {

	color:#ddd;

	content:"|";

	font-family:"tahoma"

}

.footer_link li a {

	color:#a0a0a0;

	padding:0 5px;

	text-decoration:none

}

.footer_link li a:hover {

	color:#f08526

}

.confirm_l {

	display:inline-block;

	text-align:right;

	width:100px

}

.confirm_r {

	text-align:right

}

a.bank,.arrow_select {

	background:url(images/select.pngg') no-repeat

}

a.bank {

	-moz-border-radius:3px;

	-webkit-border-radius:3px;

	background-position:10px 12px;

	border:1px #ddd solid;

	border-radius:3px;

	display:inline-block;

	margin-right:10px;

	padding-left:35px;

	position:relative

}

a.bank:hover,a.bk_hover {

	border:1px #f08526 solid

}

a.bk_hover {

	background-position:10px -18px

}

.bank_alipay,.bank_online {

	background:url(images/bank.jpgg') no-repeat;

	display:block;

	height:40px;

	margin:0;

	width:125px

}

.arrow_select {

	background-position:0 -65px;

	bottom:0;

	display:inline-block;

	height:15px;

	position:absolute;

	right:0;

	width:15px

}

.bank_alipay {

	background-position:0 5px

}

.bank_online {

	background-position:0 -61px

}

.time {

	border-top:1px solid #e4e4e4;

	padding:50px 0 85px 40px

}

.time_green,.time_grey {

	background:url(images/time.jpgg') no-repeat;

	height:48px;

	width:805px

}

.time_green {

	background-position:0 -52px;

	left:0;

	position:absolute;

	right:0

}

.time_grey {

	background-position:0 0;

	margin-left:10px;

	position:relative

}

.my_point {

	background:url(images/vip.pngg') no-repeat 0 -157px;

	bottom:-33px;

	color:#fff;

	height:23px;

	line-height:27px;

	position:absolute;

	right:-20px;

	text-align:center;

	width:45px;

	z-index:3

}

.ok,.no,.notfound,.httperror {

	height:280px

}

.ok {

	background:url(images/ok.pngg') no-repeat bottom center #fff

}

.no {

	background:url(images/no.pngg') no-repeat bottom center #fff

}

.notfound {

	background:url(images/404.pngg') no-repeat bottom center #fff

}

.httperror {

	background:url(images/500.pngg') no-repeat bottom center #fff

}

.bg_org {

	background:#f98e30

}

.center_txt {

	background:#f08526;

	padding:30px 0

}

.center_txt_l,.center_txt_s {

	color:#fff;

	font-weight:normal;

	text-align:center

}

.center_txt_l {

	font-size:40px

}

.center_txt_s {

	font-size:20px;

	margin:20px 0 0 0

}

.back-btn,.back-btn:hover {

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	border:1px solid rgba(255,255,255,.5);

	border-radius:5px;

	color:#fff;

	display:inline-block;

	font-size:16px;

	margin-top:100px;

	padding:10px 15px

}

.back-btn:hover {

	background:#fff;

	color:#f08526

}

.envelope {

	background:url(images/envelope.jpgg') no-repeat;

	height:340px;

	margin:10px 0 40px 0;

	position:relative

}

.envelope h4 {

	color:#767676;

	font-size:20px;

	font-weight:normal;

	margin:0;

	padding-bottom:25px;

	padding-top:40px;

	text-align:center

}

.postmark {

	background:url(images/postmark.pngg') no-repeat;

	height:106px;

	position:absolute;

	right:50px;

	top:30px;

	width:120px

}

.envelope_l,.envelope_r {

	float:left

}

.envelope_l {

	margin-left:20px;

	margin-right:20px

}

.envelope_r {

	}.el,.er {

	height:43px

}

.el span,.er span {

	display:inline-block;

	text-align:right;

	width:100px

}

.el em,.er em {

	color:#b0b0b0;

	display:inline-block;

	width:40px

}

.ipt {

	background:none;

	border:0;

	border-bottom:1px #d8d8d8 solid;

	color:#555;

	display:inline-block;

	font-family:'Vernada','微软雅黑';

	padding:6px 12px;

	width:210px

}

.el .ipt {

	width:340px

}

.vip {

	background:url(images/vip.pngg') no-repeat;

	display:inline-block;

	height:13px;

	width:33px

}

.vip1 {

	background-position:0 0

}

.vip2 {

	background-position:0 -23px

}

.vip3 {

	background-position:0 -46px

}

.vip4 {

	background-position:0 -69px

}

.vip5 {

	background-position:0 -92px

}

.vip6 {

	background-position:0 -115px

}

.vip0 {

	background-position:0 -136px;

	height:14px;

	width:47px

}

.footerimage {

	background:url(images/footer_link.pngg') no-repeat;

	display:inline-block;

	height:30px;

	width:100px

}

.footerimage1 {

	background-position:0 0

}

.footerimage2 {

	background-position:0 -40px

}

.footerimage3 {

	background-position:0 -80px

}

.footerimage4 {

	background-position:0 -120px

}

.footerimage5 {

	background-position:0 -160px

}

.footerimage6 {

	background-position:0 -200px

}

.footerimage7 {

	background-position:0 -240px

}

.footerimage8 {

	background-position:0 -280px

}

.footerimage9 {

	background-position:0 -320px

}

.sub_title {

	display:inline-block;

	text-align:right;

	width:80px

}

.icon_help {

	background:url(images/help.pngg') no-repeat;

	display:inline-block;

	height:18px;

	width:18px

}

.orange {

	background:#f08526!important

}

.green {

	background:#a1d55d!important

}

.pink {

	background:#a48ada!important

}

.tar {

	background:#1fb5ac!important

}

.fenhong {

	background:#fa8564!important

}

.shenlv {

	background:#5cb85c!important

}

.yellow {

	background:#e4ba00!important

}

.mini-stat-icon {

	-moz-border-radius:100%;

	-webkit-border-radius:100%;

	background:#eee;

	border-radius:100%;

	color:#fff;

	display:inline-block;

	font-size:30px;

	height:40px;

	line-height:30px;

	margin-right:10px;

	text-align:center;

	width:40px

}

.small {

	height:25px;

	line-height:10px;

	width:25px

}

.small i {

	font-size:12px

}

.mini-stat-icon:hover {

	color:#fff

}

.grow {

	left:auto;

	right:-7px;

	top:45px

}

.grow i {

	left:auto;

	right:20px

}

* {

	list-style-type:none;

	margin:0;

	padding:0

}

#leftsead {

	height:147px;

	position:fixed;

	right:0;

	top:510px;

	width:87px

}

#leftsead li {

	height:60px;

	width:131px

}

#leftsead li .shows {

	display:block;

	float:right

}

#leftsead li .hides {

	display:none;

	float:right

}

.ys_ico {

	display:inline-block;

	*display:inline;

	font-size:12px;

	margin:6px 6px 10px;

	text-align:center;

	width:97px;

	*zoom:1

}

.ys_01,.ys_02,.ys_03,.ys_04,.ys_05,.ys_06 {

	background:url(images/ys_ico.pngg') no-repeat;

	display:block;

	height:65px

}

.ys_01 {

	background-position:0 0

}

.ys_02 {

	background-position:0 -74px

}

.ys_03 {

	background-position:0 -148px

}

.ys_04 {

	background-position:0 -222px

}

.ys_05 {

	background-position:0 -296px

}

.ys_06 {

	background-position:0 -376px

}

.ys_flash {

	display:inline-block;

	*display:inline;

	font-size:12px;

	margin:6px 6px 10px;

	position:relative;

	text-align:center;

	width:162px;

	*zoom:1

}

.ys_flash_01 {

	background:url(images/flash_1.pngg') no-repeat;

	display:block;

	height:85px

}

.ys_flash_01:hover {

	background:url(images/flash_1_1.pngg') no-repeat

}

.ys_flash_02 {

	background:url(images/flash_2.pngg') no-repeat;

	display:block;

	height:85px

}

.ys_flash_02:hover {

	background:url(images/flash_2_2.pngg') no-repeat

}

.ys_flash em {

	bottom:0;

	color:#fff;

	display:inline-block;

	left:0;

	position:absolute;

	width:162px

}

#logoutForm {

	display:inline

}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {

	background-color:#f08526;

	border-color:#f08526

}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {

	color:#f08526

}

.pagination>li>a,.pagination>li>span {

	color:#f08526

}

.url_path{

	margin-bottom:10px;

	padding-bottom:5px;

	border-bottom:1px solid #eee;

}

.query_box{

float:left;width:320px;

}
.query_box li{
	padding:2px 5px;
	margin:5px 0px;
	border-left: 2px solid #f08526;
	font-size: 16px;
}
.news_box{

float:left;width:470px;padding: 0px 20px 0px 0px;

height:262px;

}

.concat_box{

float:left;width:230px;background-color:#fff;

padding:10px;

border-top: 2px solid #f08526;

}

.mm{height:200px;}

.mm li{height: 70px;line-height: 70px;border-bottom:1px solid #e7e7e7}

.mm a,.mm a:visited{color:#000}

.mm p{line-height:20px;display:inline-block;vertical-align:middle}

.mm span{color:#999;padding-left:35px;display: block;}

.mm i{display:inline-block;width:32px;height:32px;margin-right:15px;vertical-align:middle;background-image:url(images/common.png)}

.mm .qq i{background-position:-149px 0}

.mm .skype i{background-position:-45px -192px}

.mm .phone{border-bottom:none}

.mm .phone i{background-position:-213px 0}

.u_login_box,.u_reg_box,.message_box{

border: 1px solid #cccccc;

margin-top: 30px;

padding-bottom: 30px;

width: 700px;

}

.message_box p{

padding: 30px 0;

width: 500px;

margin: 50px auto 0;

background: #f0f0f0;

font-size: 24px;

text-align:center;

}

.message_box p.info{

color: #428bca;

}

.message_box p.success{

color:#a1d55d;

}

.message_box p.warning,.message_box p.error{

color: #e97814;

}



.message_box ul li{

	font-size: 15px;

padding: 0 0 15px 0;

color: #f16c31;

text-align: center;

line-height: 130%;

background-color: #f0f0f0;

width: 500px;

margin: 0px auto;

}

.simulator_box{

float:right;width:700px;padding: 0px 20px 0px 0px;

}





#test_pay,#buyjp_pay{

	background-color:#eee;

	padding:10px;

	margin:10px auto;

	}

#js_block{

	background-color:#ffffff;

	padding:7px;

	border:1px solid #BBB;

	}



#js_block div input{

width:80px;

height: 33px;

display:inline;

padding:2px 0px;

	}



#js_block #test_input{

	padding:10px 0px;

	width:60%;

	float:left;

	text-align:right;

	}



#js_block #test_submit{

	padding:7px 0px 13px 0px;

	width:40%;

	float:right;

	text-align:left;

	}



#js_block #arrow{

	clear:both;

	background:url(images/arrow_js_block.gif) no-repeat center center;

	height:20px;

	text-indent:-9999px;

	margin:0px;

	}



#js_block div#test_result{

	padding:10px;

	color:#000000;

	text-align:center;

	}

 div#test_result span.fee{

	text-align:center;

	border:0px;

	padding:2px 10px;

	font-size:140%;

	color:#e90063;

	font-weight:bold;

	font-family:tahoma;



	}



 div#test_result span.tip{

	display:block;

	text-align:center;

	font-size:85%;

	color:#5f5f5f;

	padding:15px 0px 5px 0px;

	}



#frame_bottom tt{

	margin-bottom:30px;

	}

table.shipp_fee{

	width: 750px;

	margin:0px auto;

	border-left:1px solid #CCCCCC;

	border-top:1px solid #CCCCCC;

}

table.shipp_fee TD.op {

	background-color: #FFF7C9;

	border-right: 1px dotted #CCCCCC;

	color: #333333;

	padding-right: 1em;

	text-align: right !important;

	width: 145px;

	font-size:14px;

}

table.shipp_fee TD{

	border-bottom: 1px solid #DDDDDD;

	border-right: 1px solid #DDDDDD;

	font-size: 12px;

	height: 30px;

	line-height: 1.5em;

	padding: 0.5em 0 0.5em 1em;

	text-align: left;

	vertical-align: top;

	font-size:14px;

}

.recomment_site, .recomment_goods{

	background-color:#fff;

	border:1px solid #eee;

	border-top:2px solid #f08526;



}

.recomment_title{

position: relative;

top: 2px;

left: 20px;

z-index: 9999;

background-color: #fff;

width: 150px;

height: 32px;

border-left: 1px solid #f08526;

border-right: 1px solid #f08526;

border-top: 2px solid #f08526;

display: inline-block;

}

.recomment_title h4{

	margin-top:5px;

	text-align:center;

}

.recomment_site li{

	float:left;

	width: 245px;

	height: 70px;

	margin: 5px 4px;

	border:1px solid #ccc;

}



.recomment_site li img{

	margin:5px auto;



}

.recomment_site li:hover{

	border: 1px solid #f08526;

}

.message_icon {

display: inline-block;

margin-bottom: -8px;

}

.icon_info_b{

width: 32px;

height: 32px;

background: url(images/prompt1ac0c0.pngg') no-repeat -96px 0;

}

.icon_error_b{

width: 32px;

height: 32px;

background: url(images/prompt1ac0c0.pngg') no-repeat -128px 0;

}

.icon_warning_b{

width: 32px;

height: 32px;

background: url(images/prompt1ac0c0.pngg') no-repeat -64px 0;

}

.icon_success_b{

width: 32px;

height: 32px;

background: url(images/prompt1ac0c0.pngg') no-repeat 0px 0;

}

.w_240{

	width:240px;

}

.leftContainer{

	width:210px;

	float:left;

}

p.item,p.total{

	margin-bottom:5px;

}

#cart_area .information {

    padding: 10px;

}

#cart_area .postage {

    margin-top: 10px;

    padding-top: 10px;

    background: url(imgages/line_dot_01.giff") repeat-x top;

}

#cart_area .postage .point_announce {

    padding: 2px 0 2px 20px;

    background: url(images/ico_price.giff") no-repeat left top;

}

#cart_area .btn {

	padding: 10px 0;

	background: url(images/line_dot_01.gif) repeat-x top;

	text-align: center;

}





/* ===============================================

分类

=============================================== */

#category_area {

	margin-bottom: 40px;

	border: 0px solid #333;

}

#category_area .bloc_body{

	margin: 0px;

	padding: 0px;

	border-top: 1px dotted #555;

	border: 1px solid #ccc;

}



#category_area li.level1 a {

	display: block;

	padding: 0;

	letter-spacing: 0em;

}

#category_area li.level1{

margin: 0px;

padding: 0px;

border-bottom: 1px solid #eee;

border-top: 1px solid #eee;

margin-top: -1px;

background-color:#F7F7F7;

}

#category_area li.level1 a{

	margin: 0px;

	padding: 10px;

	color: #000;

}

#category_area li.level1 a:hover{

	color: #999;

}

#category_area li.level1 p a{

	margin: 0px;

	font-weight: bold;

	padding: 5px 10px;

}



#category_area li.level1 li p {

}



#category_area a.onlink:link{

	background: url(../img/common/cat_libg.gif);

	margin: 0px;

}

a.onlink:visited {

	color: #669;

}

a.onlink:hover {

	color: #669;

}

.childcategory{

	margin:2px 0px;

	padding:5px;

}

.childcategory li{





}

.childcategory li:hover{



  color: #eb9200;

}

.childcategory li a{

	color: #000;

	overflow:hidden;

	background: url(images/icon_sidebar.gif) 0px center no-repeat;

	padding-left:15px;

	width:170px;

}

.childcategory li a:hover{

	color: #CC0000;

	 background-position: -160px center;

}

 .bloc_outer {

margin: 0px 10px 10px;

}



div.list_area{

	width: 260px;

	float: left;

	height: 300px;

	border: 1px solid #CCC;

	margin: 4px 2px;

	padding-bottom: 5px;

	font-size: 10px;

	overflow:hidden;

	text-align:center;

	position:relative;

}

div.list_area:hover{

		border: 1px solid #a8a8a8;

	-moz-box-shadow:0 1px 5px 3px rgba(0,0,0,.15);

	-webkit-box-shadow:0 1px 5px 3px rgba(0,0,0,.15);

	box-shadow:0 1px 5px 3px rgba(0,0,0,.15);

}

 .listphoto{

	margin-bottom: 5px;

	width: 100%;

	float: none;

	clear: both;

}

.list_price {

	color: #C00;

	font-weight: bold;

}

 .picture {

	border-top: none;

	border-right: none;

	border-bottom: none;

	border-left: none;

}

 #cart_icon{

	padding: 5px;

}

img.cart_icon{

	float: left;

	padding-right: 10px;padding-bottom: 10px;

}

div.pagenumber_area {

text-align: right;

}

.change{

border-bottom:1px dashed #ccc;

padding-bottom:10px;

}

.list-pager {

	margin-left:90px;

	text-align:right;

}
.list-pager ul li.skip {
text-align: center;
}
.list-pager ul {

	margin: 0 3px;

	float:right;

}

 .list-pager ul li {

	float:left;

	width:34px;

	height:30px;

}

.list-pager ul li a, .list-pager ul li span {

	display:block;

	width:30px;

	height:30px;

	text-align:center;

	line-height:32px;

}

 .list-pager ul li a, .list-pager ul li span {

	background:url(images/list_pager.png) no-repeat;

}

 .list-pager ul li a:hover {

	background-position:left center;

	text-decoration:none;

}

 .list-pager ul li span.current {

	background-position:left bottom;

	color:#FFF;

}

 .list-pager ul li a.next {

	background-position:-68px top;

	text-indent:-9999px;

}

 .list-pager ul li a.next:hover {

	background-position:-68px center;

}

.list-pager ul li a.prev {

	background-position:-34px top;

	text-indent:-9999px;

}

 .list-pager ul li a.prev:hover {

	background-position:-34px center;

}

 .list-pager ul li.listing {

	width:180px;

	line-height:32px;

	padding-right:10px;

}

div#detailrightbloc h2 {

	margin: 0 0 15px;

	padding: 0 0 10px;

	color: #333;

	background: url(images/stripe_bg.pngg") repeat-x bottom;

	font-weight: bold;

	font-size: 14px;

	line-height: 160%;

	letter-spacing: 0em;

}

div#detailrightbloc .point

{

	margin: 0 0 10px;

	padding: 5px 5px 10px 10px;

	background: url("../img/background/line_dot_01.gif") repeat-x bottom;

}

div#detailrightbloc .relative_cat {

	padding: 5px 5px 5px 10px;

	font-size: 10px;

	margin-bottom:10px;

	margin-top:-10px;

	border-bottom:1px solid #EEE;

	border-top:1px solid #EEE;

}

.main_comment {

	margin-bottom: 20px;

	padding: 20px 0px 20px;

	line-height: 190%;

	font-size: 12px;

	background: url(../img/background/line_dot_01.gif) repeat-x bottom;

	letter-spacing: 0em;

	float:left;

}

div.cart_area {

	padding: 10px;

	border: 1px solid #CCC;

}





/* 2カラム用 */

 div#detailphotobloc {

	float: left;

	width: 380px;

	margin-bottom: 30px;

	padding: 0px;

	margin-top: 0px;

}

div#detailrightbloc {

	float: right;

	width: 360px;

}

 div.subtext {

	font-size: 10px;

}

 p.subtext {

    margin-bottom: 20px;

}

div.subphotoimg {

	float: left;

	text-align:center;

	border: 1px solid #E4E4E4;

	height: 55px;

	width: 55px;

	padding:2px;

	margin:4px;

}

 div.subphotoimg:hover {

	float: left;

	text-align:center;

	border: 1px solid #990000;

	height: 55px;

	width: 55px;

	padding:2px;

	margin:4px;

}

 div.subphotoimg  img{

		width:50px;

}

/* 3カラム用 */

div#detailphotobloc {

    float: left;

    width: 49%;

}

div#detailrightbloc {

    float: right;

    width: 50%;

}

 div.subtext {

    margin-bottom: 20px;

    float: left;

    width: 63%;

}

 p.subtext {

    margin-bottom: 20px;

}

div.commentpanel{

	border:1px solid #CCCCCC;

	margin:5px auto;

}

div.commentpanel p.p_title{

	background-color:#F0F0F0;

	padding:5px;

}

div.commentpanel p.p_title span{

	margin:2px 10px;



}

div.commentpanel p.content{

	padding:5px 10px;



}

div.commentsList{

	text-align:center;

}

div.commentsList table{

	margin:10px auto;

}



table.table_specific {

	border: none;

}

table.table_specific label{

	padding:2px;

	border:1px dotted #CCC;

	display:block;

	width:100px;

	margin:1px;

	float:left;

}

.table_specific th{

	font-size:11px;

	font-weight: normal;

	width: 110px;

	background: #FFF;

	padding: 3px 0px 0px;

	border: 1px solid #FFF;

}

.table_specific td{

	padding: 5px;

	border: 1px solid #FFF;

}

.tl{

text-align:left;

}

.g_tips {

position: absolute;

top: 5px;

left: 5px;

z-index: 9;

}

.g_tips span {

background-color: #f00;

color: #fff;

padding: 0px 2px;

font-weight: bold;

}

.itemicon {

overflow: hidden;

margin-bottom: 10px;

}

.itemicon p {

text-align: center;

background-color: #ffe1e1;

color: #c00;

font-size: 85%;

float: left;

display: block;

width: 65px;

line-height: 1.2em;

padding-top: 4px;

padding-left: 10px;

padding-right: 10px;

padding-bottom: 2px;

margin-right: 10px;

}



div#history_list{

	border:1px solid #ccc;

}

div#history_div li{

border-bottom:1px dashed #ccc;

	margin-bottom:5px;

	text-align:center;

}

div#history_div li img{

	width:170px;

}

ul#clear_history{

	text-align:right;

	border:none;

}

ul#clear_history a{

cursor:pointer;

}

p.item,p.total{

	margin-bottom:5px;

}

p.total span.price{

	display:inline;

	margin-right:0px;

	width:88px;

	padding:0px;

}

#cart_area .information{

	border-bottom:1px dotted #ccc;

}

#cart_area .bloc_body{

	border:1px solid #ccc;

	margin-top:-1px;

}

#cart_area .btn {

padding: 10px 0;

text-align: center;

width: 100%;

}

#cart_area{

	margin-bottom:20px;

}

div.search_Form{

	margin-bottom:20px;

}

div.search_condition{

padding:10px 0px;

	border:1px solid #ccc;

	margin-top:-1px;

}

div.search_condition p{

	padding:5px 2px;

}

#category{

padding:2px;

}

div.quantity{

	margin:10px auto;

	border-bottom:1px dotted #CCC;

}

div.quantity li,div.classlist li{

	padding-bottom:5px;

	float:left;

}

div.classlist {

    padding: 15px auto;

    width: 100%;

    border-bottom:1px dotted #CCC;

}

 .classlist {

    margin-bottom: 5px;

}

.hotprice,.shop_price{

color:#f00;

font-weight:bold;

font-size:16px;

}

table.tbpad td{

	padding:0px;

}

.listrightbloc h3{

	height:50px;

	overflow:hidden;

}

p.p_desc_content{width:800px;}

ul.item_D_img img{

	max-width:760px;

}

table.p_desc_spec{

	width:750px;

}

#releated_goods li p.goods_name{

	height: 70px;

	overflow: hidden;

}

#releated_goods li{

	border-bottom:1px solid #EEE;

	float:left;

	width:198px;

	padding:5px;

	border-left: 1px dotted #eee;

}

#releated_goods li img{

	width:190px;

}

#releated_goods li:hover{

	border:1px solid #f08526;

}

.title_box {

padding-bottom: 15px;

margin-bottom: 20px;

border-bottom: solid 1px #dad7b9;

overflow: hidden;

color:#f08526;

}

.title_box span {

font-size: 14px;

color: #999;

margin-left: 25px;

font-family: Calibri;

}

div.recomment_goods{margin-bottom:15px;padding:5px 7px;}

div.recomment_goods .list_area{

	width:247px;

}

div.recomment_goods .more{float: right;

margin-top: -27px;}

.hotico{

width: 28px;

height: 32px;

background: url(images/ico-hot.jpg) no-repeat top left;

display: inline-block;

float: right;

z-index: 999;

top: -21px;

right: -8px;

position: absolute;

}

.share{margin-top: 30px;

border-top: 1px dotted #ccc;

border-bottom: 1px dotted #ccc;

padding: 10px 0px;}

.notice {

background: none repeat scroll 0 0 #fafafa;

border: 1px solid #ddd;

line-height: 20px;

margin: 5px 0;

padding: 5px 12px;

}

.notice span.ico{

width: 16px;

height: 14px;

background: url(images/prompt1ac0c0.pngg') no-repeat -96px -32px;

display: inline-block;

margin: 0px 5px -2px 0px;

}
.tbLeft td{
text-align:left;!important
}
/* Notice */
.ps-callout{padding:10px;margin:10px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px; text-align:left; margin-right:20px;}
.ps-callout:hover{background-color:#fff;}
.ps-callout h4{margin-top:0;margin-bottom:5px}
.ps-callout h4 i{font-size:32px;padding-right:10px;}
.ps-callout p:last-child{margin-bottom:0}
.ps-callout code{border-radius:3px}
.ps-callout+.ps-callout{margin-top:-5px}
.ps-callout-cart{border-color:#d9534f;background-color:#FDF6F6;}
.ps-callout-cart h4{color:#d9534f}
.ps-callout-auction{border-color:#f08526;background-color:#FFFFFA;}
.ps-callout-auction h4{color:#f08526}
.ps-callout-store{border-color:#006bd0;background-color:#F8FCFF;}
.ps-callout-store h4{color:#006bd0}
.ps-callout-transfer{border-color:#7ABD54;background-color:#FBFFF8;}
.ps-callout-transfer h4{color:#7ABD54}
.color-swatches{margin:0 -5px;overflow:hidden}
div.message{width:480px; display:inline-block;}
ul.notice{ list-style:none;padding: 10px; background-color:#fff;}
ul.notice li{
height: 35px;
line-height: 20px;
border-bottom: 1px solid #e7e7e7;
padding: 5px;
font-size: 18px;
}
ul.notice li a.tipCount{
	padding:10px 5px;
	color:#FF0000;
	font-size:20px;
}
.navRightBar {position: fixed;width: 48px;height: 200px;right: 5px;	bottom: 200px;z-index: 1000;}
.navRightBar .rightbtn {float: left;height: 48px;width: 48px;margin: 10px auto;border-top: 0;cursor: pointer;outline: 0;}
.navRightBar .talkRight {background-repeat: no-repeat;}
.navRightBar .talkRightHover {background-repeat: no-repeat;}
.navRightBar .talkRight .link {display: inline-block;height: 48px;width: 48px;outline: 0;}
.navRightBar .helpRight {background-repeat: no-repeat;}
.navRightBar .helpRightHover {background-repeat: no-repeat;}
.navRightBar .backTop {background-repeat: no-repeat;}
.navRightBar .backTopHover {background-repeat: no-repeat;}
.navRightBar .backTop {position: relative;display: none;background-repeat: no-repeat;}
.navRightBar .backTopHover {background-repeat: no-repeat;}
.navRightBar .helpRight .helpContentContainer {background-color: #fff;z-index: 1500;left: -128px;position: relative;_position: absolute;height: 100px;width: 127px;display: none;}
.navRightBar .helpRight .helpContentContainer .helpContentList {height: 100px;width: 120px;	float: left;	border: 1px solid #ccc;	background-color: #FFF;}
.navRightBar .helpRight .helpContentContainer .helpContentList li {	padding-left: 5px;}
.navRightBar .helpRight .helpContentContainer .helpContentList .hoverLi {background-color: #fcd1c7;}
.navRightBar .helpRight .helpContentContainer .helpContentList a {line-height: 25px;outline: 0;}
.navRightBar .helpRight .helpContentContainer .helpContentborder {margin-top: 10px;width: 5px;height: 9px;	_overflow: hidden;float: left;background-repeat: no-repeat;}
.navRightBar .talkRight {background-position: -120px -14px;}
.navRightBar .talkRightHover {background-position: -179px -15px;}
.navRightBar .backTop {background-position: -6px -15px;}
.navRightBar .backTopHover {background-position: -63px -15px;}
.navRightBar .helpRight {background-position: -231px -15px;}
.navRightBar .helpRightHover {background-position: -290px -15px;}
.navRightBar .helpRight .helpContentContainer .helpContentborder {background-position: -1199px -572px;}
.navRightBar .talkRight,.navRightBar .talkRightHover,.navRightBar .helpRight,.navRightBar .helpRightHover,.navRightBar .twoCodeRight,.navRightBar .twoCodeRightHover,.navRightBar .backTop,.navRightBar .backTopHover,.cue_right,.quanjing .utilNotice .notice-message-img,.utilNotice .notice-message-img,.quanjing .utilNotice .notice-right-img,.utilNotice .notice-right-img,.quanjing .userLoginHeader .headerBottom .headerBottomContent .bigDataTip,.quanjing .userLoginHeader .headerBottom .headerBottomContent .eventTip,.userLoginHeader .headerBottom .headerBottomContent .bigDataTip,.userLoginHeader .headerBottom .headerBottomContent .eventTip,.userLoginHeader .cnzz-logo-vip,.userLoginHeader .cnzz-logo,.userLoginHeader .bigDataDownMenu .bigData_bottom .left_bottom,.userLoginHeader .bigDataDownMenu .bigData_bottom .middle_bottom,.userLoginHeader .bigDataDownMenu .bigData_bottom .right_bottom,.quanjing .userLoginHeader .bigDataDownMenu .bigData_bottom .left_bottom,.quanjing .userLoginHeader .bigDataDownMenu .bigData_bottom .middle_bottom,.quanjing .userLoginHeader .bigDataDownMenu .bigData_bottom .right_bottom,.quanjing .pop_close {
	background-image: url(images/right_bar.png);}
.btn_primary{
background:#428bca;
color:#fff;
		}
.btn_primary:hover{
background:#3071a9;
           color:#fff;
		}
.btn_important{
background:#d9534f;
color:#fff;
		}
.btn_important:hover{
background:#d43f3a;
           color:#fff;
		}
